*{
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(4, 4, 45);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5rem;
    gap: 3rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

img{ 
    height: 150px;
    width: 150px;
    /* object-fit: cover; */
    border-radius: 50%; 
}

.choice:hover {
    opacity: 0.5;
    background-color: rgb(4, 4, 45);
    cursor: pointer;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userScore, #compScore{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: #dc8560;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
} 

button{
    /* border-radius: 1rem; */
    background-color: rgb(4, 4, 45);
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}






